@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
    /* Add additional font weights and styles if needed */
}

:root {
    --gruv-light: #f9f5d7; /* lightest gruvbox */
    --gruv-dark: #282828; /* darkest gruvbox */
    --gruv-blue: #076678; /* */
}

body {
    font-family: JetBrains Mono, sans-serif;
    text-align: left;
    /* background-color: #3c3836; */
    /* background-color: $secondary-color; */
    background-color: var(--gruv-dark);
}

.section {
    /* font-family: JetBrains Mono, sans-serif; */
    /* text-align: center; */
    /* background-color: var(--gruv-blue); */
    display: inline-block; /* Ensure the div only takes the necessary width */
}

canvas {
    display: block; /* Make the canvas a block element */
    width: 100%; /* Set the canvas width to 100% of its container (the div) */
    height: auto; /* Allow the canvas height to adjust proportionally */
}


h1 {
    color: var(--gruv-light);
}

p {
    color: var(--gruv-light);
}

a {
    /* text-decoration: none !important; */
    text-decoration: none;
    color: var(--gruv-light);
}
a:hover {
    text-decoration: underline;
}

/* a.no-underline { */
/*     text-decoration: none; */
/* } */

