@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
    /* Add additional font weights and styles if needed */
}

:root {
    --gruv-light: #f9f5d7; /* lightest gruvbox */
    --gruv-dark: #282828; /* darkest gruvbox */
    --gruv-blue: #076678; /* */
}

body {
    font-family: JetBrains Mono, sans-serif;
    text-align: left;
    /* background-color: #3c3836; */
    /* background-color: $secondary-color; */
    background-color: var(--gruv-dark);
    margin-left: 0px;
    margin-top: 0px;
    display:block;
}

.section {
    /* font-family: JetBrains Mono, sans-serif; */
    /* text-align: center; */
    /* background-color: var(--gruv-blue); */
    display: inline-block; /* Ensure the div only takes the necessary width */
    padding-left: 0px;
    padding-top: 0px;
}

canvas {
    display: block; /* Make the canvas a block element */
    width: 100%; /* Set the canvas width to 100% of its container (the div) */
    height: auto; /* Allow the canvas height to adjust proportionally */
}


h1 {
    color: var(--gruv-light);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

p {
    color: var(--gruv-light);
    /* margin-left: 10px; */
    margin: 0px;
    padding: 0px;
}

a {
    /* text-decoration: none !important; */
    text-decoration: none;
    color: var(--gruv-light);
}
a:hover {
    /* text-decoration: underline; */
    background-color: var(--gruv-blue);
}

/* -------------------------------- */
/* home page */
.mouse_passthrough_link {
    /* pointer-events:none; */
    position:absolute;
    top:250px; 
    left:400px;
}

/* .mouse_passthrough_link h1 { */
/*     pointer-events:none; */
/* } */
/**/
/* .mouse_passthrough_link a { */
/*     pointer-events:none; */
/* } */

/* -------------------------------- */
/* general page header */

.header {
    position:relative;
    display:flexbox;
}

.bash {
    position:relative;
}

.other_pages {
    position:relative;
}

/* -------------------------------- */
/* project page per project styling */

.project_wrapper {
    position:relative;
    display:flex;
    flex-wrap: wrap;
    /* top:130px; */
    left:10px;
}
.iframe_container {
    position:relative;
    /* min-width:40%; */
    /* width:600px; */
    min-width:400px;
    width:50%;
    max-width:100%;
    aspect-ratio:3/2;
    overflow:hidden;
}
iframe {
    border:0;
    display:inline-block;
    width:100%;
    height:100%
}
.text_container {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.project_description {
    position:relative;
    top:0;
    left:10px;
    min-width:300px;
    width:600px;
}
