[submodule "projects/opengl_raymarching"]
	path = projects/opengl_raymarching
	url = git@github.com:LennardMarx/opengl_raymarching.git
[submodule "projects/dronesim"]
	path = projects/dronesim
	url = git@github.com:LennardMarx/2D-Cargo-Drone-Simulator.git
[submodule "projects/robotarm"]
	path = projects/robotarm
	url = git@github.com:LennardMarx/RobotArm.git
[submodule "projects/raycasting"]
	path = projects/raycasting
	url = git@github.com:LennardMarx/RaycastEngine.git
[submodule "projects/boids_c"]
	path = projects/boids_c
	url = git@github.com:LennardMarx/BoidsC.git
[submodule "projects/renderingC"]
	path = projects/renderingC
	url = git@github.com:LennardMarx/RenderingInC.git
