@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
    /* Add additional font weights and styles if needed */
}

body {
    font-family: JetBrains Mono, sans-serif;
    text-align: center;
    background-color: #FFFFFF;
}

.section {
    font-family: JetBrains Mono, sans-serif;
    text-align: left;
    background-color: #FFFFFF;
}

h1 {
    color: #000000;
}

p {
    color: #000000;
}
